.navbar {
    background-color: #073857;
    width: 100%;
    height: 75px;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    display: flex;
}

body {
    background-color: coral;
    width: 100%;
}

.side-bar {
    align-items: flex-end;
    margin-top: auto;
    padding-top: 0px;
    width: 200px;
    background-color: rgb(169, 168, 172);
    height: 400px;
}

.side-menu {
    padding-top: 20px;
    padding-left: 25px;
}

.options {
    list-style: none;
    font-size: 20px;
    padding: 15px;
    padding-left: 0px;
    margin-left: 0px;
}

section {
    margin: 0 1.5% 24px 1.5%;
    float: left;
}


.main {
    margin-top: 20px;
    padding-top: 70px;
    background-color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-style: italic;
    height: 500px;
    width: 60%;
    display: flex;
}


footer {
    clear: both;
    margin-bottom: 0;
}